$font-primary: "Red Hat Display", sans-serif; //weigths 900 500  ;

$color-teal: hsl(192, 37%, 48%);
$color-purple: hsl(268, 34%, 53%);
$color-sky-blue: hsl(192, 90%, 77%);
$color-lavender: hsl(268, 100%, 86%);
$color-black: hsl(240, 21%, 20%);
$color-gray: hsl(240, 10%, 57%);
$color-white: hsl(0, 0%, 98%);
$color-button-hover-primary: hsl(192, 54%, 64%);
$color-button-hover-secondary: hsl(267, 64%, 71%);
$color-light-gray: rgb(216, 216, 216);
